/*Could use a preprocessor but at this time im not aware of the technologies you use*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


/*---------------Global styles-----------------------*/

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/*------------bootstrap adjustments and root------*/

:root {
  --bs-border-width: none;
  --bg-lightgrey: #f8f8f7;
  --black: #000;
}


/*---------------navbar-----------------------*/

.nav-item {
  margin-left: 30px;
}

.dropdown-menu {
    border: none;
    background-color: var(--bg-lightgrey);
}

.nav-padding{
    padding: 8px 16px;
}

.navbar-toggler {
  margin-left: auto;
}

img.nav-logo {
    height: 54px;
}

.nav-link {
    padding: 8px 20px;
    color: var(--black);
}

.nav-link:hover {
   color:rgba(0, 0, 0, 0.55);
}

.dropdown-item {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: normal;
    text-transform: none;
}

.nav-clr {
    background-color: var(--bg-lightgrey);
}

.top-nav {
    list-style: none;
}

.font-changes-navbar {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 14px;
}

.login-shop {
    display: flex;
}

.usershop {
    margin-left: 10px;
    color: var(--black);
}

.usershop:hover {
    color:rgba(0, 0, 0, 0.55);
 }


.navbar-toggler:focus {
    box-shadow: none;
}

/*----------------------Breadcrumb---------------------------------*/

.breadcrumb {
    padding-left:32px;
    font-weight: 300;
    font-size: 12px;
    padding-bottom:33px;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.breadcrumb ul li a {
    text-decoration: none;
    color: var(--black);
}

.breadcrumb ul li a:hover {
    color:rgba(0, 0, 0, 0.55);
}



.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: ">";
}


/*------------carousel---------------------------*/

.carousel {
    margin: 0 70px;
}

 .carousel-control-next-icon {
    background-image: url(resources/circle-arrow-right-solid.svg);
    filter: invert(71%) sepia(0%) saturate(1464%) hue-rotate(10deg) brightness(112%) contrast(92%);
  }

  .carousel-control-prev-icon {
    background-image: url(resources/circle-arrow-left-solid.svg);
    filter: invert(71%) sepia(0%) saturate(1464%) hue-rotate(10deg) brightness(112%) contrast(92%);
  }

  .carousel-control-next {
      right: -70px;
  }

  .carousel-control-prev {
    left: -70px;
}

 
/*----------------------product title and add to wishlist-----------------*/
.title {
    font-weight: 300;
}

.heart {
    font-weight: bold;
    color: darkred;
}

.wishlist {
    color: #000;
    font-size: 30px;
}

.wishlist:hover {
    color: darkred;
}

/*---------------------------prices-----------------------------*/

.price {
    font-weight: bold;
    font-size: 32px;
}

.prev-price {
    font-weight: bold;
    font-size: 20px;
    color: grey;
}
/*---------------------------samples------------------------------------*/
.samples {
    max-width: 55%;
}

.sample-shadow {
    box-shadow: 1px 1px 5px 7px rgba(166,166,166,0.9);
}
/*---------------------------dropdown-----------------------------------*/

.dropdown-options {
    max-width: 55%;
}

.dropdown-options p {
    margin-bottom: 0;
}

.dropdown-options p {
    color: grey;
}

.form-select {
    border-radius: 1.5em;
    height: 50px;
} 

/*------------------------add to basket--------------------------------*/

.sizeguide-and-btn {
    max-width: 55%;
}


.sizeguide:hover {
    color:rgba(0, 0, 0, 0.55);
}

.sizeguide {
    font-weight: 300;
    margin: 0 0 5px 10px;
    color: var(--black);
}

.addbtn {
    height: 50px;
}
/*---------------thumbnails----------------------*/

.thumb {
   border-radius: 5px;
   padding: 0;
   transition: all 0.3s ease-out;
   cursor: pointer;
   overflow: hidden;
}

.thumb:hover {
    transform: scale(1.1);
}

/*--------------modal---------------------------*/

.black-background {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

.black-background.open {
    opacity: 1;
    pointer-events: all;
}

.black-background p {
    color: white;
    font-weight: 300;
    font-size: 1rem;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.full-image {
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: scale(0.5);
    transition: all 0.25s ease-out;
    transform: translate(-50%, -50%) scale(0.5);
}

.full-image.open {
    transform: translate(-50%, -50%) scale(1);
}

/*---------------------media queries-------------------------*/


@media only screen and (max-width: 576px) {
    
    .breadcrumb {
      justify-content: center;
      } 

    .carousel-control-next {
        right: 0;
    }
  
    .carousel-control-prev {
      left: 0;
    }

    .carousel {
        margin: 0;
    }

    .breakpoint {
        margin: 50px 20px !important;
    }
      
     } 

   
@media only screen and (max-width: 758px) {

      .samples {
        max-width: 100%;
      } 

      .dropdown-options {
        max-width: 100%
      }
     .sizeguide-and-btn {
        max-width: 100%;
     }
     }   

    
     @media only screen and (max-width: 992px) {
        
        .nav-item {
            margin-left: 0;
          }    

        .breakpoint {
            margin: 50px 70px;
        }  

        .samples {
            margin-top: 20px;
        }

        .dropdown-options {
            margin: 20px 0;
            }
        .login-shop {
            padding-left: 10px;
        }    
        }
   
  