/*Could use a preprocessor but at this time im not aware of the technologies you use*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');





/*---------------Global styles-----------------------*/

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/*------------bootstrap adjustments and root------*/

:root {
  --bs-border-width: none;
  --bg-lightgrey: #f8f8f7;
  --black: #000;
}


/*---------------navbar-----------------------*/

.nav-item {
  margin-left: 30px;
}

.dropdown-menu {
    border: none;
    background-color: var(--bg-lightgrey);
}

.nav-padding{
    padding: 8px 16px;
}

.navbar-toggler {
  margin-left: auto;
}

img.nav-logo {
    height: 54px;
}

.nav-link {
    padding: 8px 20px;
    color: var(--black);
}

.nav-link:hover {
   color:rgba(0, 0, 0, 0.55);
}

.dropdown-item {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: normal;
    text-transform: none;
}

.nav-clr {
    background-color: var(--bg-lightgrey);
}

.top-nav {
    list-style: none;
}

.font-changes-navbar {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 14px;
}

.login-shop {
    display: flex;
}

.usershop {
    margin-left: 10px;
    color: var(--black);
}

.usershop:hover {
    color:rgba(0, 0, 0, 0.55);
 }


.navbar-toggler:focus {
    box-shadow: none;
}

@media only screen and (max-width: 992px) {
    .nav-item {
        margin-left: 0;
      }
  } 


/*---------------container------------------------------*/

.container-xxl {
    margin-top: 61px;
}

/*---------------two-column layout-----------------------*/

.two-column {
    display: flex; 
    flex-direction: row;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 50%;
}



@media only screen and (max-width: 992px) {
    .two-column{
        flex-direction: column;
    }

    .left-side,
    .right-side {
        width: 100%;
    }
  } 

/*----------------------Breadcrumb---------------------------------*/

.breadcrumb {
    padding-left:32px;
    font-weight: 300;
    font-size: 12px;
    padding-bottom:33px;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.breadcrumb ul li a {
    text-decoration: none;
    color: var(--black);
}

.breadcrumb ul li a:hover {
    color:rgba(0, 0, 0, 0.55);
}



.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: ">";
}

@media only screen and (max-width: 576px) {
    
 .breadcrumb {
   justify-content: center;
   }
  } 

/*------------carousel---------------------------*/

.carousel {
    max-width: 463px;
    margin-left: 32px;
}

 .carousel-control-next-icon {
    background-image: url(resources/circle-arrow-right-solid.svg);
    filter: invert(71%) sepia(0%) saturate(1464%) hue-rotate(10deg) brightness(112%) contrast(92%);
  }

  .carousel-control-prev-icon {
    background-image: url(resources/circle-arrow-left-solid.svg);
    filter: invert(71%) sepia(0%) saturate(1464%) hue-rotate(10deg) brightness(112%) contrast(92%);
  }

  .carousel-control-next {
      right: -70px;
  }

  .carousel-control-prev {
    left: -70px;
}


@media only screen and (max-width: 576px) {
    .carousel {
    margin: 0 auto;
    }
  } 

  @media only screen and (max-width: 992px) {
    .carousel-control-next {
        right:0;
    }
  
    .carousel-control-prev {
      left:0;
  }
  } 

  /*----------------image magnifier------------------*/

  .img-magnifier-container {
    position: relative;
  }
  
  .img-magnifying-glass {
    position: absolute;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
  }

 
/*----------------------product title and add to wishlist-----------------*/

.prod-name {
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: 300;
}

.heart {
    font-weight: bold;
    color: darkred;
}

.wishlist {
    color: #000;
    font-size: 30px;
}

.wishlist:hover {
    color: darkred;
}

/*---------------------------product ordering-----------------------------*/

.prices {
    display: flex;
    padding-top: 50px;
}

.prices h3 {
    font-weight: 900;
    font-size: 32px;
    padding-right: 15px;
}

.prices small{
    font-weight: bold;
    font-size: 20px;
    color: grey;
}

/*---------------------------dropdown-----------------------------------*/
.dropdown-options {
  padding-top: 50px;
}

.sizeguide,
.dropdown-options p {
    margin: 0 0 5px 10px;
    color: grey;
}

.form-select {
    border-radius: 1.5em;
    max-width: 50%;
    height: 50px;
}  

/*------------------------add to basket--------------------------------*/

.sizeguide-and-button {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.addbtn {
    width: 50%;
}